.hidden{
    display: none;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#quest-image{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    align-items: center;
    margin: auto;

}
span{
    padding:5px;
}
#quest-description{
    font-family: 'Irish Grover', cursive;
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1.7rem;
    text-align: center;
}
#quest-choices{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}
#quest-title{
    font-family: 'Irish Grover', cursive;
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 white;
    font-size: 2rem;
    text-align:center;
}
header{
    font-family: 'Irish Grover', cursive;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#pirate-header{
    border-radius: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
}
button{
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 1rem;
    border: 3px solid black;
    background-color: black;
    border-radius: 100px;
    color: white;
}
input[type="radio"]:checked{
    font-size: 1.5rem;
}